.navbar-brand
{
font-size:1.6em;
}
.brand
{
color:red;
}
.back-image
{
background-image:url("images/Banner1.jpeg");
background-repeat:no-repeat;
background-position:center center;
background-size:cover;
height:120vh;
}
.inline
{
display:inline;
}
.styleaddress
{
background-color:#3d3d3d;
height:auto;
border:none;
transform:rotate(15deg);
margin-top:100px;
padding:5px;
}
.footer>.underline
{
text-decoration:none;
color:white;
}
.t
{
padding:20px;
}
@media screen and (min-width:0px) and (max-width:700px)
{
.hide
{
display:none;
}
}
